:root {
    --breakpoints-xs: 32rem; // ~512px
    --breakpoints-sm: 48rem; // ~768px
    --breakpoints-md: 64rem; // ~1024px
    --breakpoints-lg: 80rem; // ~1280px
    --breakpoints-xl: 90rem; // ~1440px  
}