* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // Display in center
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

#logo {
    width: 300px;
    height: auto;
    fill: transparent;

    path {
        stroke: #fff;
        stroke-width: 8;

        &:nth-child(1) {
            stroke-dasharray: 1181.505px;
            stroke-dashoffset: 1181.505px;
            animation: line-animate ease 2s forwards, fill .7s ease forwards 1.3s;
        }

        &:nth-child(2) {
            stroke-dasharray: 1057px;
            stroke-dashoffset: 1057px;
            animation: line-animate ease 2s forwards .3s, fill .7s ease forwards 1.6s;
        }

        &:nth-child(3) {
            stroke-dasharray: 1038.570px;
            stroke-dashoffset: 1038.570px;
            animation: line-animate ease 2s forwards .6s,
                fill .7s ease forwards 1.9s;
        }

        &:nth-child(4) {
            stroke-dasharray: 1057px;
            stroke-dashoffset: 1057px;
            animation: line-animate ease 2s forwards .9s,
                fill .7s ease forwards 2.2s;
        }

        &:nth-child(5) {
            stroke-dasharray: 1073.808px;
            stroke-dashoffset: 1073.808px;
            animation: line-animate ease 2s forwards 1.2s,
                fill .7s ease forwards 2.5s;
        }

        &:nth-child(6) {
            stroke-dasharray: 716px;
            stroke-dashoffset: 716px;
            animation: line-animate ease 2s forwards 1.5s,
                fill .7s ease forwards 2.8s;
        }

        &:nth-child(7) {
            stroke-dasharray: 2375.600px;
            stroke-dashoffset: 2375.600px;
            animation: fill 1.2s ease forwards 3.3s;
        }
    }
}

@keyframes line-animate {
    to {
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: white;
    }
}

@media screen and (min-width: 758px) {
    #logo {
        width: 600px;
    }
}