.grid-full {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 8.3333%));
    gap: var(--space-sm);

    header {
        grid-column: 2 / 12;
        margin-top: var(--space-lg);
        padding: var(--space-lg);
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    main {
        grid-column: 2 / 12;

        ol {
            padding-left: var(--space-md);
        }
    }
}